---
layout: default
---

<div class="home">
  
    <header class="site-header px2 px-responsive custom-look">
  <div class="mt2 wrap">
    <div class="measure">

      <div class="small-text"><strong>STUDENT &#x2022 DEVELOPER</strong></div>

      <br>
      <br>

      <div class="big-text">Computer Engineering student at UAlberta.</div>
      <br>
      <br>
      <div class="big-text">Intern at Dynastream Innovations.</div>

    </div>
  </div>

  </header>

  <div class="posts">
    {% for post in paginator.posts %}
      <div class="post">
        <a href="{{ post.url | prepend: site.baseurl }}" class="post-link">
          <p class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</p>
          <h3 class="h2 post-title">{{ post.title }}</h3>
          <p class="post-summary">{{ post.summary }}</p>
        </a>
      </div>
    {% endfor %}
  </div>

  {% include pagination.html %}
</div>
